// app global css in SCSS form
.midata-fade {
  background-image: linear-gradient(to bottom right, #aa332f, #e7857c);
}

.impfconnect-fade {
  background-image: linear-gradient(to bottom right, #49b5d3, #a7eeed);
}

.epd-fade {
  background-image: linear-gradient(to bottom right, #081ddd, #52d7ee);
}
