// app global css in SCSS form
.midata-fade {
  background-image: linear-gradient(to bottom right, #2faa35, #8ee77c);
}

.impfconnect-fade {
  background-image: linear-gradient(to bottom right, #2faa9a, #a7eee2);
}

.epd-fade {
  background-image: linear-gradient(to bottom right, #dd0808, #ee5252);
}
